<header class="position-relative" id="home">
  <nav
    class="navbar navbar-expand-lg d-flex align-items-center justify-content-between bg-white"
  >
    <a class="navbar-brand d-flex align-items-center" routerLink="/home"
      ><img
        src="https://static.vecteezy.com/system/resources/thumbnails/000/623/239/small/auto_car-16.jpg"
        alt="car"
        height="50px"
        width="60px"
      />
      CarPool</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon mt-3">&#9776;</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav float-right">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">User Login</a>
        </li>
        <li class="nav-item">
          <a routerLink="/adminlogin" class="nav-link">Company Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="bg-image position-relative">
    <div class="header-text position-absolute">
      <h1 class="mb-4">Adventure awaits...</h1>
      <h4 class="mt-4">Reach your destination safe & on time.</h4>
    </div>
  </div>
</header>

<div class="position-relative">
  <div class="container">
    <div class="row main align-items-center">
      <div class="col-md-6 image-element">
        <div class="img-wrap">
          <img
            src="https://image.freepik.com/free-vector/by-my-car-illustration-concept_114360-831.jpg"
            height="320"
            width="320"
          />
        </div>
      </div>
      <div class="col-md-6 text-element">
        <div class="text-content">
          <div class="mbr-section-text">
            <h3 class="text-uppercase">Car pooling</h3>
            <p>
              Car pooling system is a car/life/lift sharing is the sharing of
              car journeys so that more than one percent travels in a car and
              prevents the need for others to have to drive to the location
              themselves.By having more people using oe vechicle car pooling
              reduces each person travel cost and fuel cost twice and the stress
              of drive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div
      class="container-fluid d-flex flex-wrap align-items-center justify-content-center px-2 py-4"
    >
      <div
        class="card col-lg-3 my-md-2 my-sm-3 col-md-4 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center py-2"
      >
        <img
          src="https://image.flaticon.com/icons/svg/1578/1578613.svg"
          class="m-auto d-block"
          height="60"
          width="60"
        />
        <h3 class="card-title my-3">Save money</h3>
        <p>It saves your money as much as possible.</p>
      </div>
      <div
        class="card col-lg-3 my-md-2 my-sm-3 col-md-4 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center py-2"
      >
        <img
          src=" https://image.flaticon.com/icons/svg/1001/1001279.svg"
          class="m-auto d-block"
          height="60"
          width="60"
        />

        <h3 class="card-title my-3">Save Time</h3>
        <p>It saves your time as early as possible you can.</p>
      </div>
      <div
        class="card col-lg-3 my-md-2 my-sm-3 col-md-4 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center py-2"
      >
        <img
          src="https://image.flaticon.com/icons/svg/931/931794.svg
          "
          class="m-auto d-block"
          height="60"
          width="60"
        />
        <h3 class="card-title my-3">Save Environment</h3>
        <p>It is eco friendly and less pollution for your health.</p>
      </div>
      <div
        class="card col-lg-3 my-md-2 my-sm-3 col-md-4 col-sm-6 col-12 d-flex flex-column align-items-center justify-content-center py-2"
      >
        <img
          src="https://image.flaticon.com/icons/svg/872/872153.svg"
          class="m-auto d-block"
          height="60"
          width="60"
        />

        <h3 class="card-title my-3">Stress free</h3>
        <p>Read listen to your music and travel comfortable.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid my-3 px-3 py-5 about-us position-relative">
    <div class="text-center mb-5">
      <h2 class="about-title d-inline m-0 position-relative text-uppercase">
        About us
      </h2>
    </div>
    <div class="d-flex flex-wrap col-12 my-5 py-4">
      <div class="carpool-img col-md-6 col-12"></div>
      <div class="col-md-6 col-12">
        <div class="row d-flex justify-content-start">
          <div class="card bg-transparent d-flex col-sm-6 col-9 flex-column">
            <h1 class="card-title text-left">24/7 Customer Support</h1>
            <p class="card-text text-left">
              A dedicated 24x7 customer support team always at your service to
              help solve any problem
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="card bg-transparent d-flex col-sm-6 col-9 flex-column">
            <h1 class="card-title text-center">Your Safety First</h1>
            <p class="card-text text-center">
              Keep your loved ones informed about your travel routes or call
              emergency services when in need
            </p>
          </div>
        </div>
        <div class="row d-flex justify-content-end">
          <div class="card bg-transparent d-flex col-sm-6 col-9 flex-column">
            <h1 class="card-title text-right">Top Rated Driver-Partners</h1>
            <p class="card-text text-right">
              All our driver-partners are background verified and trained to
              deliver only the best experience
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="contact">
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white">
          <form class="form-horizontal" action="" method="post">
            <h2 class="text-center contact-title">Contact us</h2>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-6">
                <input
                  id="name"
                  name="name"
                  type="text"
                  placeholder="Your name"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email"
                >Your E-mail</label
              >
              <div class="col-md-6">
                <input
                  id="email"
                  name="email"
                  type="text"
                  placeholder="Your email"
                  class="form-control"
                />
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message"
                >Your message</label
              >
              <div class="col-md-6">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Please enter your message here..."
                  rows="5"
                ></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-9 text-right">
                <button type="submit" class="btn btn-primary btn-lg">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    <footer class="py-4 text-center">
      <p>Developed by || Vasuki</p>
    </footer>
