<div id="id01">
  <div class="container register" action="/action_page.php" method="post">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
        <h2>Welcome</h2>
        <p>Our page make comfortable of your travelling...!</p>
        <button
          type="button"
          routerLink=""
          onclick="document.getElementById('id01').style.display='none'"
        >
          Cancel
        </button>
      </div>
      <div class="col-md-9 register-right">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <h3 class="register-heading">Sign Up</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="user.fullName"
                    type="text"
                    class="form-control"
                    placeholder="Full Name *"
                    name="fullName"
                  />
                </div>
                <div class="form-group">
                  <select class="form-control f1">
                    <option
                      class="hidden"
                      [(ngModel)]="user.companyName"
                      name="companyName"
                      selected
                      disabled
                      >Select Company</option
                    >
                    <option value="1">FacePrep</option>
                    <option value="2">Google</option>
                    <option value="3">Amazon</option>
                    <option value="4">Apple</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    [(ngModel)]="user.employeeId"
                    type="text"
                    class="form-control"
                    placeholder="Employee Id *"
                    name="employeeId"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="user.email"
                    type="email"
                    class="form-control"
                    placeholder="Your Email *"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    minlength="10"
                    maxlength="10"
                    name="txtEmpPhone"
                    class="form-control"
                    placeholder="Your Phone *"
                    value=""
                  />
                </div>

                <div class="form-group">
                  <input
                    [(ngModel)]="user.password"
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                    value=""
                  />
                </div>
                <button
                  (click)="createUser()"
                  type="submit"
                  class="btnRegister"
                >
                  Register
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
